#root,
html {
    height: 100dvh;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}


@media (min-width: 576px) {
    #root {
        width: 390px;
        margin: auto;
    }
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #000 !important;
    line-height: 1.5;
}

img{
    width: 390px;
}

.btn-outline-naranja {
    color: #ff7f50; 
    border-color: #ff7f50; 
}
.btn-outline-naranja:hover {
    background-color: #ff7f50;
    color: white;
    font-weight: normal;
}
.btn-check:checked + .btn-outline-naranja {
    background-color: white; 
    color: #ff7f50; 
}



#link{
    color: black !important;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#link:hover{
    color: #000;
    opacity: 1;
}


#abierto{
    background-color:#D0F5B8;
    color: #5ECC16; 
    border-color: transparent;
    }



.btn-success{
    background-color: #57AF1E;
    border-color: transparent;
}


#fondo{
    background-color: white !important;
}


.top-fixed {
    position: fixed;
    top: 40px; /* Distancia desde el borde superior */
    width: 100%; /* Opcional: cubrir todo el ancho */
    z-index: 1000; /* Para asegurar que quede encima de otros elementos */
  }

  #imagen{

    width: 120px ;
    height: auto;
    border-radius: 10px;
  }


  .text-decoration-none {
    color: #646464  ; /* Gris oscuro */
  }
  

  #titulo{
    font-family:sans-serif;
  }


  /* Estilo personalizado para el botón activo */
.btn-outline-naranja.active {
    background-color: #ff7f50; /* Color de fondo cuando está activo */
    color: white; /* Color del texto cuando está activo */
    border-color: #ff7f50; /* Color del borde cuando está activo */
}

/* Cambiar color de borde y texto al pasar el mouse sobre el botón activo */
.btn-outline-naranja.active:hover {
    background-color: #ff6347; /* Un color de fondo diferente al pasar el mouse */
    color: white;
}



.btn-outline-dark.active {
    background-color: black; /* Color de fondo cuando está activo */
    color: white; /* Color del texto cuando está activo */
    border-color: black; /* Color del borde cuando está activo */
}

/* Cambiar color de borde y texto al pasar el mouse sobre el botón activo */
.btn-outline-dark.active:hover {
    background-color: black; /* Un color de fondo diferente al pasar el mouse */
    color: white;
}


#descripcion{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a0a0a0;
}